/*------------------------------------------------------------------
[1.3. Typography]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[#. Headings]
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  /* font-weight: 500; */
  line-height: 1;
}

h1 {
  font-size: calc(1rem + 2.7vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3375rem + 1.05vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: calc(1.2875rem + 0.45vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: calc(1.2625rem + 0.15vw);
}

@media (min-width: 1200px) {
  h5 {
    font-size: 1.375rem;
  }
}

h6 {
  font-size: 1rem;
}

/*------------------------------------------------------------------
[#. Paragraph]
*/
p {
  margin: 0;
  padding: 0;
  /* line-height: 1.25; */
}

/* small {
  font-size: remSize(14px) !important;
} */

i {
  font-style: italic;
}
